[submodule "dataflux-client-python"]
	path = dataflux_client_python
	url = https://github.com/GoogleCloudPlatform/dataflux-client-python.git
[submodule "benchmark/standalone_dataloader/maxtext"]
	path = benchmark/standalone_dataloader/maxtext
	url = https://github.com/google/maxtext.git
