[submodule "dataflux-client-python"]
	path = dataflux_client_python
	url = https://github.com/GoogleCloudPlatform/dataflux-client-python.git
[submodule "dataflux_pytorch/benchmark/standalone_dataloader/maxtext"]
	path = dataflux_pytorch/benchmark/standalone_dataloader/maxtext
	url = https://github.com/google/maxtext.git
[submodule "demo/llama/lit_llama"]
	path = demo/llama/lit_llama
	url = https://github.com/Lightning-AI/lit-llama.git
